.mission {
    background: url('../img/bg/mission-bg.png') center (center/cover) no-repeat; 
    overflow-x: hidden;
    &__TM {
        padding-top: 157px;
        font-weight: 400;
        font-size: 15px;
        color: #c3bab1;    
    }
    &__descr {
        max-width: 666px;
        margin-top: 55px;
        padding-bottom: 157px;
        font-weight: 400;
        font-size: 48px;
        color: #e7dfd8; 
    }
}