.reviews {
    background-color: #fff;
    padding-bottom: 112px;
    overflow-x: hidden;
    &__wrapper {
        margin-top: 116px;
        display: flex;
        justify-content: space-between;
    }
    &__left, &__right{
        margin-top: 116px;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #e4d8cc; 
    }
    &__review {
        margin-top: 48px;
    }
    &__user {
        margin-top: 61px;
        display: flex;
        flex-direction: row;
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        color: #e4d8cc; 
        align-items: center;
        justify-content: center; 
    }
    &__box {
        margin-left: 30px;
    }
}